.header {
  padding: 60px;
  text-align: center;
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  color: black ;
  font-size: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #DB4437;;
  color:  #DB4437;;
  text-align: center;
}

h1 {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* REGISTRATION PAGE */
 
* {box-sizing: border-box}
 
/* Add padding to containers */
.container {
 padding: 16px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
 width: 100%;
 padding: 15px;
 margin: 5px 0 22px 0;
 display: inline-block;
 border: none;
 background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus {
 background-color: #ddd;
 outline: none;
}


/* Overwrite default styles of hr */
hr {
 border: 1px solid #f1f1f1;
 margin-bottom: 25px;
}


/* Set a style for the submit/register button */
.registerbtn {
 background-color: #4CAF50;
 color: white;
 padding: 16px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
 opacity: 0.9;
}


.registerbtn:hover {
 opacity:1;
}


/* Add a blue text color to links */
a {
 color: dodgerblue;
}

 
/* Set a grey background color and center the text of the "sign in" section */
.signin {
 background-color: #f1f1f1;
 text-align: center;
}

/* Social Media Button */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #DB4437;
  color: white;
}

/*Sign out Alert box */

.alert {
  padding: 20px;
  background-color: #2196F3;;
  color: white;
}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}


.closebtn:hover {
  color: black;
}

